<a href="https://colab.research.google.com/github/ranjith-getgit/Herd-Mentality/blob/main/Workbook_1_Herd_Mentality_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preprocessing
---
Data preprocessing can be defined as manipulation, filtration or augmentation of data before it is analysed. Raw data consists of out-of-range values, missing values amongst other issues.

The following raw data was retrieved from Refinitv Datastream consisting of daily stock (constituents) price information of FTSE 100 and the Equally Weighted Price Index.

In [ ]:
import pandas as pd
import numpy as np

## Read File (csv.)

The file contains 784 observations with 100 daily stock price and market index (FTSE 100) data. The data is retrieved from Refinitiv Datastream.

In [ ]:
hmdf=pd.read_csv('/content/sample_data/data_ftse.csv')

In [ ]:
hmdf

,Date,FTSE 100 EQUALLY WEIGHTED - PRICE INDEX,3I GROUP,ADMIRAL GROUP,AIRTEL AFRICA,ANGLO AMERICAN,ANTOFAGASTA,ASHTEAD GROUP,ASSOCIATED BRIT.FOODS,ASTRAZENECA,...,TAYLOR WIMPEY,TESCO,UNILEVER (UK),UNITE GROUP,UNITED UTILITIES GROUP,VISTRY GROUP,VODAFONE GROUP,WEIR GROUP,WHITBREAD,WPP
0,01/01/19,140.86,773.4,2047.0,NaN,1740.75,783.2,1637.0,2043.0,5873,...,136.25,189.82,4108.5,806.0,736.2,830.10,152.90,1298.0,3933.92,846.6
1,02/01/19,140.89,783.6,2027.0,NaN,1703.50,770.4,1658.0,2072.0,5903,...,136.85,191.27,4143.0,806.0,747.0,828.36,154.94,1282.0,3952.82,850.0
2,03/01/19,139.19,774.0,2006.0,NaN,1667.85,738.0,1615.5,2102.0,6010,...,137.70,199.06,4121.5,806.0,750.4,812.57,156.06,1244.5,3939.08,842.2
3,04/01/19,142.64,804.4,2018.0,NaN,1749.32,785.6,1702.0,2159.0,6089,...,140.40,197.11,4152.0,813.0,761.0,827.40,157.98,1315.5,4020.69,852.6
4,07/01/19,142.98,802.4,1979.5,NaN,1763.66,809.4,1753.5,2154.0,6005,...,139.70,202.20,4105.0,825.5,752.8,832.99,157.40,1355.5,4106.61,866.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
779,27/12/21,177.87,1454.5,3095.0,128.0,3040.50,1320.0,6012.0,1990.0,8611,...,175.20,287.90,3952.5,1073.0,1093.0,1178.50,112.54,1709.5,2999.00,1120.0
780,28/12/21,177.87,1454.5,3095.0,128.0,3040.50,1320.0,6012.0,1990.0,8611,...,175.20,287.90,3952.5,1073.0,1093.0,1178.50,112.54,1709.5,2999.00,1120.0
781,29/12/21,179.31,1467.5,3150.0,129.8,3028.00,1336.5,6120.0,2014.0,8656,...,176.75,291.05,3971.0,1082.0,1106.5,1200.50,112.64,1719.0,2968.00,1129.0
782,30/12/21,179.06,1458.0,3140.0,133.5,3019.50,1338.5,6008.0,2003.0,8673,...,175.20,291.25,3966.5,1100.0,1096.5,1188.50,112.38,1729.0,3012.00,1129.5
783,31/12/21,178.65,1449.0,3157.0,133.7,3016.00,1338.5,5942.0,2008.0,8678,...,175.50,289.90,3945.5,1110.5,1089.0,1184.00,112.26,1711.5,2995.00,1119.5

### Identification of Data Type

The data type for the sample is considered to be float64 which is continuous data

In [ ]:
hmdf.dtypes

Date                                        object
FTSE 100 EQUALLY WEIGHTED - PRICE INDEX    float64
3I GROUP                                   float64
ADMIRAL GROUP                              float64
AIRTEL AFRICA                              float64
                                            ...
VISTRY GROUP                               float64
VODAFONE GROUP                             float64
WEIR GROUP                                 float64
WHITBREAD                                  float64
WPP                                        float64
Length: 102, dtype: object

Read the first and last 5 rows of the file to identify any inconsistencies

In [ ]:
hmdf.head(5)

,Date,FTSE 100 EQUALLY WEIGHTED - PRICE INDEX,3I GROUP,ADMIRAL GROUP,AIRTEL AFRICA,ANGLO AMERICAN,ANTOFAGASTA,ASHTEAD GROUP,ASSOCIATED BRIT.FOODS,ASTRAZENECA,...,TAYLOR WIMPEY,TESCO,UNILEVER (UK),UNITE GROUP,UNITED UTILITIES GROUP,VISTRY GROUP,VODAFONE GROUP,WEIR GROUP,WHITBREAD,WPP
0,01/01/19,140.86,773.4,2047.0,NaN,1740.75,783.2,1637.0,2043.0,5873,...,136.25,189.82,4108.5,806.0,736.2,830.10,152.90,1298.0,3933.92,846.6
1,02/01/19,140.89,783.6,2027.0,NaN,1703.50,770.4,1658.0,2072.0,5903,...,136.85,191.27,4143.0,806.0,747.0,828.36,154.94,1282.0,3952.82,850.0
2,03/01/19,139.19,774.0,2006.0,NaN,1667.85,738.0,1615.5,2102.0,6010,...,137.70,199.06,4121.5,806.0,750.4,812.57,156.06,1244.5,3939.08,842.2
3,04/01/19,142.64,804.4,2018.0,NaN,1749.32,785.6,1702.0,2159.0,6089,...,140.40,197.11,4152.0,813.0,761.0,827.40,157.98,1315.5,4020.69,852.6
4,07/01/19,142.98,802.4,1979.5,NaN,1763.66,809.4,1753.5,2154.0,6005,...,139.70,202.20,4105.0,825.5,752.8,832.99,157.40,1355.5,4106.61,866.0

In [ ]:
hmdf.tail(5)

,Date,FTSE 100 EQUALLY WEIGHTED - PRICE INDEX,3I GROUP,ADMIRAL GROUP,AIRTEL AFRICA,ANGLO AMERICAN,ANTOFAGASTA,ASHTEAD GROUP,ASSOCIATED BRIT.FOODS,ASTRAZENECA,...,TAYLOR WIMPEY,TESCO,UNILEVER (UK),UNITE GROUP,UNITED UTILITIES GROUP,VISTRY GROUP,VODAFONE GROUP,WEIR GROUP,WHITBREAD,WPP
779,27/12/21,177.87,1454.5,3095.0,128.0,3040.5,1320.0,6012.0,1990.0,8611,...,175.20,287.90,3952.5,1073.0,1093.0,1178.5,112.54,1709.5,2999.0,1120.0
780,28/12/21,177.87,1454.5,3095.0,128.0,3040.5,1320.0,6012.0,1990.0,8611,...,175.20,287.90,3952.5,1073.0,1093.0,1178.5,112.54,1709.5,2999.0,1120.0
781,29/12/21,179.31,1467.5,3150.0,129.8,3028.0,1336.5,6120.0,2014.0,8656,...,176.75,291.05,3971.0,1082.0,1106.5,1200.5,112.64,1719.0,2968.0,1129.0
782,30/12/21,179.06,1458.0,3140.0,133.5,3019.5,1338.5,6008.0,2003.0,8673,...,175.20,291.25,3966.5,1100.0,1096.5,1188.5,112.38,1729.0,3012.0,1129.5
783,31/12/21,178.65,1449.0,3157.0,133.7,3016.0,1338.5,5942.0,2008.0,8678,...,175.50,289.90,3945.5,1110.5,1089.0,1184.0,112.26,1711.5,2995.0,1119.5

### Treating columns with an #ERROR

One column has been identified without any pricing data, marked as #ERROR by Refinitiv. This stock price column will be removed.

In [ ]:
hmdf.columns=[f'#ERROR_{i}' if x=='#ERROR' else x for i, x in enumerate(hmdf.columns)]

In [ ]:
hmdf_error='#ERROR_41'
hmdf_error_=hmdf_error.split(',')

In [ ]:
hmdf=hmdf.drop(columns=hmdf_error_)

In [ ]:
hmdf

,Date,FTSE 100 EQUALLY WEIGHTED - PRICE INDEX,3I GROUP,ADMIRAL GROUP,AIRTEL AFRICA,ANGLO AMERICAN,ANTOFAGASTA,ASHTEAD GROUP,ASSOCIATED BRIT.FOODS,ASTRAZENECA,...,TAYLOR WIMPEY,TESCO,UNILEVER (UK),UNITE GROUP,UNITED UTILITIES GROUP,VISTRY GROUP,VODAFONE GROUP,WEIR GROUP,WHITBREAD,WPP
0,01/01/19,140.86,773.4,2047.0,NaN,1740.75,783.2,1637.0,2043.0,5873,...,136.25,189.82,4108.5,806.0,736.2,830.10,152.90,1298.0,3933.92,846.6
1,02/01/19,140.89,783.6,2027.0,NaN,1703.50,770.4,1658.0,2072.0,5903,...,136.85,191.27,4143.0,806.0,747.0,828.36,154.94,1282.0,3952.82,850.0
2,03/01/19,139.19,774.0,2006.0,NaN,1667.85,738.0,1615.5,2102.0,6010,...,137.70,199.06,4121.5,806.0,750.4,812.57,156.06,1244.5,3939.08,842.2
3,04/01/19,142.64,804.4,2018.0,NaN,1749.32,785.6,1702.0,2159.0,6089,...,140.40,197.11,4152.0,813.0,761.0,827.40,157.98,1315.5,4020.69,852.6
4,07/01/19,142.98,802.4,1979.5,NaN,1763.66,809.4,1753.5,2154.0,6005,...,139.70,202.20,4105.0,825.5,752.8,832.99,157.40,1355.5,4106.61,866.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
779,27/12/21,177.87,1454.5,3095.0,128.0,3040.50,1320.0,6012.0,1990.0,8611,...,175.20,287.90,3952.5,1073.0,1093.0,1178.50,112.54,1709.5,2999.00,1120.0
780,28/12/21,177.87,1454.5,3095.0,128.0,3040.50,1320.0,6012.0,1990.0,8611,...,175.20,287.90,3952.5,1073.0,1093.0,1178.50,112.54,1709.5,2999.00,1120.0
781,29/12/21,179.31,1467.5,3150.0,129.8,3028.00,1336.5,6120.0,2014.0,8656,...,176.75,291.05,3971.0,1082.0,1106.5,1200.50,112.64,1719.0,2968.00,1129.0
782,30/12/21,179.06,1458.0,3140.0,133.5,3019.50,1338.5,6008.0,2003.0,8673,...,175.20,291.25,3966.5,1100.0,1096.5,1188.50,112.38,1729.0,3012.00,1129.5
783,31/12/21,178.65,1449.0,3157.0,133.7,3016.00,1338.5,5942.0,2008.0,8678,...,175.50,289.90,3945.5,1110.5,1089.0,1184.00,112.26,1711.5,2995.00,1119.5

### Drop Missing Values (NaN)

Drop stock price columns with missing values which are greater than 1/20th (0.05) the sample size: **4 stocks** were identified

In [ ]:
hmdf_dropc="AIRTEL AFRICA, DARKTRACE, ENDEAVOUR MINING (LON), M&G"
hmdf_dropc_= [x.strip() for x in hmdf_dropc.split(',')]

In [ ]:
hmdf=hmdf.drop(columns=hmdf_dropc_)

In [ ]:
hmdf

,Date,FTSE 100 EQUALLY WEIGHTED - PRICE INDEX,3I GROUP,ADMIRAL GROUP,ANGLO AMERICAN,ANTOFAGASTA,ASHTEAD GROUP,ASSOCIATED BRIT.FOODS,ASTRAZENECA,AUTO TRADER GROUP,...,TAYLOR WIMPEY,TESCO,UNILEVER (UK),UNITE GROUP,UNITED UTILITIES GROUP,VISTRY GROUP,VODAFONE GROUP,WEIR GROUP,WHITBREAD,WPP
0,01/01/19,140.86,773.4,2047.0,1740.75,783.2,1637.0,2043.0,5873,454.8,...,136.25,189.82,4108.5,806.0,736.2,830.10,152.90,1298.0,3933.92,846.6
1,02/01/19,140.89,783.6,2027.0,1703.50,770.4,1658.0,2072.0,5903,441.4,...,136.85,191.27,4143.0,806.0,747.0,828.36,154.94,1282.0,3952.82,850.0
2,03/01/19,139.19,774.0,2006.0,1667.85,738.0,1615.5,2102.0,6010,440.5,...,137.70,199.06,4121.5,806.0,750.4,812.57,156.06,1244.5,3939.08,842.2
3,04/01/19,142.64,804.4,2018.0,1749.32,785.6,1702.0,2159.0,6089,445.8,...,140.40,197.11,4152.0,813.0,761.0,827.40,157.98,1315.5,4020.69,852.6
4,07/01/19,142.98,802.4,1979.5,1763.66,809.4,1753.5,2154.0,6005,448.4,...,139.70,202.20,4105.0,825.5,752.8,832.99,157.40,1355.5,4106.61,866.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
779,27/12/21,177.87,1454.5,3095.0,3040.50,1320.0,6012.0,1990.0,8611,724.4,...,175.20,287.90,3952.5,1073.0,1093.0,1178.50,112.54,1709.5,2999.00,1120.0
780,28/12/21,177.87,1454.5,3095.0,3040.50,1320.0,6012.0,1990.0,8611,724.4,...,175.20,287.90,3952.5,1073.0,1093.0,1178.50,112.54,1709.5,2999.00,1120.0
781,29/12/21,179.31,1467.5,3150.0,3028.00,1336.5,6120.0,2014.0,8656,730.4,...,176.75,291.05,3971.0,1082.0,1106.5,1200.50,112.64,1719.0,2968.00,1129.0
782,30/12/21,179.06,1458.0,3140.0,3019.50,1338.5,6008.0,2003.0,8673,735.2,...,175.20,291.25,3966.5,1100.0,1096.5,1188.50,112.38,1729.0,3012.00,1129.5
783,31/12/21,178.65,1449.0,3157.0,3016.00,1338.5,5942.0,2008.0,8678,740.0,...,175.50,289.90,3945.5,1110.5,1089.0,1184.00,112.26,1711.5,2995.00,1119.5

## Clean Data File (csv.)

The final clean data file consisits of 784 daily observations with 97 stock/market daily stock price data

In [ ]:
hmdf.to_csv('dataclean_ftse.csv')